body {
    overflow-x: hidden;
    padding-bottom: 20px;
    margin-top: 50px;
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #212121;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-right: 0;
    }

    #wrapper.toggled {
    padding-right: 120px;
    }

    #sidebar-wrapper {
    width: 0;
    }   

    #wrapper.toggled #sidebar-wrapper {
    width: 120px;
    }   

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.btn-exit{
    position:absolute;
    left: 95%;
    top: 15%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
       /* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}
 
.field-validation-valid {
    display: none;
}
 
input.input-validation-error {
    border: 1px solid #b94a48;
}
 
input[type="checkbox"].input-validation-error {
    border: 0 none;
}
 
.validation-summary-errors {
    color: #b94a48;
}
 
.validation-summary-valid {
    display: none;
}
.btn-menu{
    position: absolute;
    left: 3%;
    top: 15%;
    background-color: #e0e0e0;
}
.text-details{
    font-size: 18pt;
}
img{
    width: 100%;
    object-fit: cover;
}
.role-details{
    text-align:center;

}
.movie-details{
    height : 420px;
}

.photo-details{
    width : 300px;
    float: left;
}
p.photo-details{
    width: 350px;
    float : left;
    margin-right: 20px;
}
.text-center{
    font-size: 20pt;
}

.text-center-bg{
    position: relative;
    top: 40px;
}
.textbox-search{
    float:left;
    width : 25%;
    min-width: 200px;
    margin-right: 10px;
}
.bg {
  background: url('/Content/assets/photo/Films.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 500px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 500px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}
.text-comment{
    background-color: #eeeeee;
    font-size: 16pt;
}
.photo-scroll{
    width: 200px !important;
}

.slick-p {
    left: -25px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid blue;
}

.slick-n {
    right: -25px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid blue;
}

.table-bg {
    background-color: #F0FFFF;
}
.film-details{
    background-color: white;
    padding: 10px;
}

a.autoGenerate {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    width: 100px;
}

    a.autoGenerate:hover {
        background: rgb(53, 167, 110);
    }

    a.autoGenerate:active {
        background: rgb(33,147,90);
        box-shadow: 0 3px rgb(33,147,90) inset;
    }

a.handGenerate {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(236,85,66);
    box-shadow: 0 -3px rgb(200,70,50) inset;
    transition: 0.2s;
    width: 100px;
}

    a.handGenerate:hover {
        background: rgb(200,70,50);
    }

    a.handGenerate:active {
        background: rgb(180,60,50);
        box-shadow: 0 3px rgb(33,147,90) inset;
    }

.form-description {
    width: 700px;
    height: 100px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
.ticket {
    width: 400px;
    border-radius: 20px;
    border: 2px black dashed;
    margin: 30px;
}

@media screen and (max-width: 1920px) {
  .text-center{font-size: 20pt;}
  .photo-list{width: 120px;}
  .text-details{font-size: 18pt;}
  .photo-details{ width: 300px;}
  p.photo-details{ width: 300px; }
  .movie-details{ height : 480px; }
}
@media screen and (max-width: 1680px) {
  .text-center{font-size: 18pt;}
  .photo-list{width: 100px;}
  .text-details{font-size: 16pt;}
  .photo-details{ width: 250px; }
  p.photo-details{ width: 250px; }
  .movie-details{ height : 420px; }
}
@media screen and (max-width: 1280px) {
  .text-center{font-size: 16pt;}
  .photo-list{width: 90px;}
  .text-details{font-size: 14pt;}
  .photo-details{ width: 200px; }
  p.photo-details{ width: 200px; }
  .movie-details{ height : 420px; }
}
@media screen and (max-width: 1024px) {
  .text-center{font-size: 14pt;}
  .photo-list{width: 80px;}
  .text-details{font-size: 11pt;}
  .photo-details{ width: 170px; }
  p.photo-details{ width: 170px; }
  .movie-details{ height : 300px; }
}
@media screen and (max-width: 768px) {
  .text-center{font-size: 12pt;}
  .photo-list{width: 70px;}
  .text-details{font-size: 11pt;}
  .photo-details{ width: 150px; }
  p.photo-details{ width: 150px; }
  .movie-details{ height : 300px; }
}
@media screen and (max-width: 425px) {
  .text-center{font-size: 12pt;}
  .photo-list{width: 70px;}
  .text-details{font-size: 9pt;}
  .photo-details{ width: 150px; }
  p.photo-details{ width: 150px; }
  .movie-details{ height : 350px; }
}
@media screen and (max-width: 320px) {
  .text-center{font-size: 12pt;}
  .photo-list{width: 70px;}
  .text-details{font-size: 9pt;}
  .photo-details{ width: 150px; }
  p.photo-details{ width: 150px; }
  .movie-details{ height : 400px; }
}
